.header{
    background-color:#e95308;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 10vh;
    color:white;
    font-size: 1.25rem;
    font-weight: lighter;
    cursor: pointer;
}